/FileFXML/nbproject/private/
/JavaFXApplication5/nbproject/private/
/JavaFXApplication5/build/
/JavaFXApplication5/dist/
/JavaFXApplication6/nbproject/private/
/tuyetjhung/nbproject/private/
/HSHS/nbproject/private/
/HSHS/build/
/HSHS/dist/
/Managament/nbproject/private/
/Managament/build/
/Managament/dist/
/Sach/nbproject/private/
/AccountBank/nbproject/private/
/Sach/build/
/AccountBank/build/
/DemoTableView/nbproject/private/
/DemoTableView/build/
/demo/build/
/demo/dist/