/FileFXML/nbproject/private/
/JavaFXApplication5/nbproject/private/
/JavaFXApplication5/build/
/JavaFXApplication5/dist/
/JavaFXApplication6/nbproject/private/
/tuyetjhung/nbproject/private/
/HSHS/nbproject/private/
/HSHS/build/
/HSHS/dist/