/*
 * Empty Stylesheet file.
 */

.root {
    -fx-background-image: url("../Imgs/wallpaper.JPG");
    -fx-background-size: 100% 100%; 
}
.parent {
	-fx-background-color: #34343B
}
.other {
	-fx-background-color: #191C1F
}
.scroll-pane {
/*   -fx-background: #34343B;
   -fx-border-color: #34343B;*/
-fx-background-color: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.seat-selection {
    -fx-background-image: url("../Imgs/CinemaBackground.JPG");
    -fx-background-size: 100% 100%; 
}
.glyph-icon{
    -fx-font-size: 30px;
    -fx-font-family: "Material Design Icons";
    -fx-fill: white;
}
.glyph-icon-2{
    -fx-font-family: "Material Design Icons";
    -fx-font-size: 20px;
    -fx-fill: black;
}
.button-hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}
